.annotator-container {
  margin: 1rem;
}

.entities {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.entities p {
  margin: 0;
}

.entity-container {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.entity-container li {
  margin-right: 10px;
}

.entity-container li .entity-name {
  margin-left: 0.3rem;
}

.entity-container .show-all {
  background: #888888;
}

.popup-content {
  max-width: 600px;
}

.entity-popup {
  padding: 10px;
}

.entity-name {
  margin-bottom: 10px;
}
